<div class="container">
	<h1 class="text-center"><%= @team.name %> への参加希望者</h1>

	<% if @approvals.blank? %>

		<h3 class="text-center">現在参加希望者はいません</h3>

	<% else %>

		<table class="table">
			<thead>
				<tr class="success">
					<th class="col-xs-2"></th>
					<th>性別</th>
					<th>ポジション</th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @approvals.each do |approval| %>
					<tr>
						<td>
							<%= attachment_image_tag(approval.user, :profile_image, fallback: 'sports_soft_tennis_ball.png', size: '50x50') %>
							<%= link_to approval.user.nickname, user_path(approval.user) %>
						</td>
						<td><%= approval.user.sex %></td>
						<td><%= approval.user.position %></td>
						<td><% if approval.event_id.nil? %>
								<%= "チームへの参加希望" %>
							<% else %>
								<%= "予定への参加希望" %><br>
								<%= Event.find(approval.event_id).start_date.strftime("%Y-%m-%d") %>
								<%= link_to event_path(approval.event_id) do %>
									<%= Event.find(approval.event_id).title %>
								<% end %>
							<% end %>
						<td>
							<% if approval.event_id.nil? %>
								<!-- チームへの参加 -->
								<%= form_with model: approval.user, url: user_path(approval.user) do |f| %>
									<%= f.hidden_field :team_id, :value => @team.id %>
									<%= f.submit "承認する", class: 'btn btn-primary' %></td>
								<% end %>
							<% else %>
								<!-- 予定への参加 -->
								<%= link_to "承認する", event_entries_path(approval.event_id, team_id: @team.id, user_id: approval.user_id), method: :post, remote: true, class: "btn btn-primary" %>
							<% end %>
						</td>
						<td><%= link_to "拒否する", approval_path(approval), method: :delete, class: 'btn btn-danger' %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	<% end %>

	<div class="row text-center">
		<%= link_to "Back", team_path(@team), class: "btn btn-primary" %>
	</div>
</div>