<div class="container">
<h1 class="text-center">チーム情報編集</h1>

<%= form_with model: @team, local: true do |f| %>
	<div class="text-center">
		<div class="form-group">
			<%= f.label :image, "チームの画像設定" %>
		</div>
		<div class="form-group">
			<%= attachment_image_tag(@team, :image, fallback: 'sports_soft_tennis_ball.png', size: '300x300') %>
		</div>
		<div class="form-group">
		  	<%= f.attachment_field :image, class: "center-block" %>
		</div>
	</div>

	<table class="table table-bordered table-condensed">
		<thead>
			<tr>
			  <th>項目名</th>
			  <th>入力欄</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th><%= f.label :name, "チーム名" %></th>
				<th><%= f.text_field :name, class: 'form-control' %></th>
			</tr>
			<tr>
				<th><%= f.label :slogan, "スローガン" %></th>
				<th><%= f.text_field :slogan, class: 'form-control' %></th>
			</tr>
			<tr>
				<th><%= f.label :postcode, "活動場所（郵便番号）" %></th>
				<th><%= f.text_field :postcode, class: 'form-control postcode', id: 'team_postcode' %></th>
			</tr>
			<tr>
				<th><%= f.label :prefecture_name, "活動場所（都道府県）" %></th>
				<th><%= f.collection_select :prefecture_name, JpPrefecture::Prefecture.all, :name, :name, include_blank: "都道府県", class: 'form-control address', id: 'team_prefecture_code'  %></th>
			</tr>
			<tr>
				<th><%= f.label :address, "活動場所(住所）" %></th>
				<th><%= f.text_field :address, class: 'form-control address', id: 'team_address' %></th>
			</tr>
			<tr>
				<th><%= f.label :practice_day, "練習日" %></th>
				<th><%= f.text_field :practice_day, class: 'form-control' %></th>
			</tr>
			<tr>
				<th><%= f.label :annual_fee, "年会費" %></th>
				<th><%= f.text_field :annual_fee, class: 'form-control' %></th>
			</tr>
			<tr>
				<th><%= f.label :entry_fee, "参加費" %></th>
				<th><%= f.text_field :entry_fee, class: 'form-control' %></th>
			</tr>
			<tr>
				<th>メンバー募集の有無</th>
                <th><%= f.radio_button :members_wanted, :true %>
                    <%= f.label :members_wanted, "募集する" %>
                	<%= f.radio_button :members_wanted, :false %>
                	<%= f.label :members_wanted, "募集しない" %>
                </th>
            </tr>
			<tr>
				<th><%= f.label :recruitment_targrt, "メンバー募集文" %></th>
				<th><%= f.text_field :recruitment_targrt, class: 'form-control' %></th>
			</tr>
			<tr>
				<th><%= f.label :introduction, "チーム紹介文" %></th>
				<th><%= f.text_area :introduction, class: 'form-control', style: 'height: 300px;' %></th>
			</tr>
		</tbody>
	</table>

	<div class="form-group">
		<div class="text-center">
			<%= f.submit '更新', class: "btn btn-success" %>
		</div>
	</div>

	<% end %>

</div>