<div class="container">

<!-- クリッカブルマップからのパラメーター有無で分岐 -->
<% if params[:prefecture_code] %>

<h1 class="text-center"><%= @prefecture.name %> のチーム一覧</h1>

<%= render "search_form" %>

<div class="button-group text-right">
	<%= link_to "新規チーム作成", new_team_path, class: "btn btn-primary" %>
</div>

<table class="table table-bordered">
	<thead>
		<tr class="success">
			<th>チーム名</th>
			<th>活動場所</th>
			<th>人数</th>
			<th>交流チーム数</th>
			<th>メンバー募集</th>
		</tr>
	</thead>
	<tbody>
		<% @prefecture_teams.each do |team| %>
			<tr>
				<td><%= link_to team.name, team_path(team) %></td>
				<td><%= team.prefecture_name %><%= team.address %></td>
				<td><%= team.users.conut %>人</td>
				<td><%= team.matchers.count %></td>
				<td>〇</td>
			</tr>
		<% end %>
	</tbody>
</table>

<% else %>

<h1 class="text-center">チーム一覧</h1>

<%= render "search_form" %>

<div class="button-group text-right">
	<%= link_to "新規チーム作成", new_team_path, class: "btn btn-primary" %>
</div>

<table class="table table-bordered">
	<thead>
		<tr class="success">
			<th>チーム名</th>
			<th>活動場所</th>
			<th>人数</th>
			<th>交流チーム数</th>
			<th>メンバー募集</th>
		</tr>
	</thead>
	<tbody>
		<% @teams.each do |team| %>
			<tr>
				<td><%= link_to team.name, team_path(team) %></td>
				<td><%= team.prefecture_name %><%= team.address %></td>
				<td><%= team.users.count %>人</td>
				<td><%= team.matchers.count %></td>
				<td><%= team.members_wanted ? "〇" : "×" %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<% end %>

</div>