<h3>指定条件</h3>
<% if params[:q][:prefecture_code_eq].empty? %>
	<p>都道府県: 指定なし</p>
<% else %>
	<p>都道府県: <%= @prefecture.name %></p>
<% end %>

<% if params[:q][:number_of_people_gteq].empty? %>
	<p>人数: 指定なし</p>
<% else %>
	<p>人数: <%= params[:q][:number_of_people_gteq] %></p>
<% end %>

<% if params[:q][:name_cont].empty? %>
	<p>チーム名: 指定なし</p>
<% else %>
	<p>チーム名: <%= params[:q][:name_cont] %></p>
<% end %>

<h1 class="text-center">検索結果</h1>

<table class="table table-bordered">
	<thead>
		<tr class="success">
			<th>チーム名</th>
			<th>活動場所</th>
			<th>人数</th>
			<th>メンバー募集</th>
		</tr>
	</thead>
	<tbody>
		<% @teams.each do |team| %>
			<tr>
				<td><%= link_to team.name, team_path(team) %></td>
				<td><%= team.prefecture_name %><%= team.address %></td>
				<td><%= team.number_of_people %></td>
				<td>〇</td>
			</tr>
		<% end %>
	</tbody>
</table>