<div class="text-center">
  <h1><%= @team.name %></h1>
  <div class="form-group">
	<%= attachment_image_tag(@team, :image, fallback: 'sports_soft_tennis_ball.png', size: '100x100') %>
   </div>
</div>

	<table class="table table-bordered table-condensed">
		<thead>
			<tr class="success">
			  <th>項目名</th>
			  <th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>チーム名</th>
				<th class="well"><%= @team.name %></th>
			</tr>
			<tr>
				<th>スローガン</th>
				<th><%= @team.slogan %></th>
			</tr>
			<tr>
				<th>都道府県</th>
				<th><%= @team.prefecture_name %></th>
			</tr>
			<tr>
				<th>活動場所(住所)</th>
				<th><%= @team.address %></th>
			</tr>
			<tr>
				<th>練習日</th>
				<th><%= @team.practice_day %></th>
			</tr>
			<tr>
				<th>人数</th>
				<th>男性:<%= @man %>人, 女性:<%= @woman %>人</th>
			</tr>
			<tr>
				<th>平均年齢</th>
				<th><%= @team.average_age %>歳</th>
			</tr>
			<tr>
				<th>年会費</th>
				<th><%= @team.annual_fee %>円</th>
			</tr>
			<tr>
				<th>参加費</th>
				<th><%= @team.entry_fee %>円</th>
			</tr>
			<tr>
				<th>メンバー募集文</th>
				<th><%= @team.members_wanted %></th>
			</tr>
			<tr>
				<th>チーム紹介文</th>
				<th><%= @team.introduction %></th>
			</tr>
		</tbody>
	</table>

    <div class="row">
    	<div class="col-xs-3">
			<%= link_to "チームの予定", calendar_team_path(team_id: @team.id), class: "btn btn-primary btn-block" %>
		</div>
		<div class="col-xs-3">
			<%= link_to "活動場所地図", map_team_path(@team), class: "btn btn-primary btn-block" %>
		</div>
		<div class="col-xs-3">
			<%= link_to "メンバー一覧", member_team_path(@team), class: "btn btn-primary btn-block" %>
		</div>
		<div class="col-xs-3">
			<%= link_to "チーム日記", articles_path(team_id: @team.id), class: "btn btn-primary btn-block" %>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-3">
			<%= link_to "メッセージ", "#", class: "btn btn-primary btn-block" %>
		</div>

		<div class="col-xs-3">
			<% if current_user.team_id = @team_id %>
				<%= link_to "編集", edit_team_path(@team), class: "btn btn-primary btn-block" %>
			<% else %>
				<!-- ブックマークボタン -->
				<% if @team.bookmark_by?(current_user) %>
					<%= link_to "ブックマークを外す", team_bookmarks_path(@team.id), method: :delete, class: "btn btn-primary btn-block" %>
				<% else %>
					<%= link_to "ブックマークする", team_bookmarks_path(@team.id), method: :post, class: "btn btn-primary btn-block" %>
				<% end %>
			<% end %>
		</div>

		<div class="col-xs-3">
			<%= link_to "交流チーム", team_matching_path(@team), class: "btn btn-primary btn-block" %>
		</div>

		<div class="col-xs-3">
			<!-- チーム参加の分岐 -->
			<% if @user.team_id == @team.id %>
				<%= link_to "チームに参加済", "#", class: "btn btn-primary btn-block" %>
			<% elsif @user.team_id == nil %>
				<%= form_with model: @user, url: user_path(@user) do |f| %>
					<%= f.hidden_field :team_id, :value => @team.id %>
					<%= f.submit "チームに参加する", class: "btn btn-primary btn-block" %>
				<% end %>
			<% else %>
				<%= link_to "他チームに参加済", "#", class: "btn btn-primary btn-block" %>
			<% end %>
		</div>
	</div>

	<!-- フォローボタン -->
	<% unless current_user.team = @team %>
		<% if @current_team.following?(@team) %>
	 		<%= link_to "フォロー解除", team_relationships_path(@team.id), method: :delete, class: "btn btn-primary" %>
	 	<% else %>
	 		<%= link_to "フォローする", team_relationships_path(@team.id), method: :post, class: "btn btn-primary" %>
	 	<% end %>
	<% end %>
