<div class="container">
	<div class="text-center">
	  <h1><%= @team.name %></h1>
	  <div class="form-group">
		<%= attachment_image_tag(@team, :image, fallback:  'sports_soft_tennis_ball.png', size: '300x300', class: "img-circle") %>
	   </div>
	</div>

	<!-- フォローボタン -->
	<div class="row button-group">
		<div class="col-xs-4">
			<br>
			<br>
			<br>
			<% if @user.team_id == @team.id %>
				<%= form_with model:current_user, url: user_path(current_user, team_id: @team.id) do |f| %>
					<%= f.hidden_field :team_id, :value => nil %>
					<%= f.submit "チームを脱退する", class: "btn btn-danger" %>
				<% end %>
			<% else %>
				<div id="follow_<%= @team.id %>">
					<%= render 'follow', team: @team %>
				</div>
			<% end %>
		</div>
		
		<% if @team.twitter.present? or @team.facebook.present? or @team.instagram.present? %>
			<div class="col-xs-3 col-xs-offset-5">
				<div class="team-sns">
					<%= render 'sns', team: @team %>
				</div>
			</div>
		<% end %>
	</div>


	<table class="table table-bordered table-condensed">
		<thead>
			<tr class="success">
			  <th>項目名</th>
			  <th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>チーム名</th>
				<th><%= @team.name %></th>
			</tr>
			<tr>
				<th>スローガン</th>
				<th><%= @team.slogan %></th>
			</tr>
			<tr>
				<th>活動場所(住所)</th>
				<th><%= @team.prefecture_name %><%= @team.address %></th>
			</tr>
			<tr>
				<th>練習日</th>
				<th><%= @team.practice_day %></th>
			</tr>
			<tr>
				<th>人数</th>
				<th><%= @team.number_of_people %>人</th>
			</tr>
			<tr>
				<th>年会費</th>
				<th><%= @team.annual_fee %>円</th>
			</tr>
			<tr>
				<th>参加費</th>
				<th><%= @team.entry_fee %>円</th>
			</tr>
			<tr>
				<th>メンバー募集文</th>
				<th><%= @team.recruitment_targrt %></th>
			</tr>
			<tr>
				<th>チーム紹介文</th>
				<th><%= @team.introduction %></th>
			</tr>
			<% if @team.homepage_url.present? %>
				<tr>
					<th>ホームページ</th>
					<th><a href="<%= @team.homepage_url %>"><%= @team.homepage_url %></a></th>
				</tr>
			<% end %>
		</tbody>
	</table>

    <div class="row button-group">
    	<div class="col-xs-3">
			<%= link_to "チームの予定", events_path(team_id: @team.id), class: "btn btn-primary btn-block" %>
		</div>
		<div class="col-xs-3">
			<%= link_to "活動場所地図", map_team_path(@team), class: "btn btn-primary btn-block" %>
		</div>
		<div class="col-xs-3">
			<%= link_to "メンバー一覧", member_team_path(@team), class: "btn btn-primary btn-block" %>
		</div>
		<div class="col-xs-3">
			<%= link_to "チーム日記", articles_path(team_id: @team.id), class: "btn btn-primary btn-block" %>
		</div>
	</div>
	<div class="row button-group">
		<div class="col-xs-3">
			<%= link_to "通知", notifications_path(team_id: @team.id), class: "btn btn-primary btn-block" %>
		</div>

		<div class="col-xs-3">
			<% if current_user.team_id == @team.id %>
				<%= link_to "編集", edit_team_path(@team), class: "btn btn-primary btn-block" %>
			<% else %>
				<!-- ブックマークボタン -->
				<div id="bookmark_<%= @team.id %>">
					<%= render 'bookmark', team: @team %>
				</div>
			<% end %>
		</div>

		<div class="col-xs-3">
			<%= link_to "交流チーム", team_matching_path(@team), class: "btn btn-primary btn-block" %>
		</div>

		<div class="col-xs-3">
			<!-- チーム参加の分岐 -->
			<% if @user.team_id == @team.id %>
				<%= link_to "参加希望者", team_approvals_path(@team), class: "btn btn-primary btn-block" %>
			<% elsif @user.team_id == nil %>
				<% if @team.approvals.pluck(:user_id).include?(current_user.id) %>
					<%= link_to "参加の申請中", "#", class: "btn btn-primary btn-block" %>
				<% else %>
					<%= form_with model:@team.approvals, url: team_approvals_path(@team.id) do |f| %>
						<%= f.hidden_field :team_id, :value => @team_id %>
						<%= f.submit "チーム参加の申請", class: "btn btn-block btn-primary" %>
					<% end %>
				<% end %>
			<% else %>
				<%= link_to "他チームに参加済", "#", class: "btn btn-primary btn-block" %>
			<% end %>
		</div>

	</div>
	
	

</div>