	<div class="row">
		<div class="col-xs-8 col-xs-offset-4">
			    <%= form_with model: article, local: true do |f| %>
					<div class="row form-group">
						<div class="image">
					  		<%= f.label :image, "投稿画像", class: "col-xs-3" %>
					  		<div class="col-xs-4">
					    		<%= attachment_image_tag(article, :image, fallback: 'sports_soft_tennis_ball.png', size: '100x100') %>
					    		<%= f.attachment_field :image %>
					  		</div>
						</div>
					</div>

					<div class="row form-group">
						<div class="col-xs-9">
					     	<%= f.label :title, "タイトル" %>
						 	<%= f.text_field :title, class: "form-control" %>
						</div>
					</div>

					<div class="row form-group">
						<div class="col-xs-9">
					     	<%= f.label :tag_list, "タグ" %>
						 	<ul class="form-control" id="article-tags"></ul>
						 </div>
					</div>

					<div class="row form-group">
						<div class="col-xs-9">
							<%= f.label :body, "投稿内容", class: "col-xs-3" %>
							<%= f.text_area :body, class: "form-control", style: "height: 1000px;" %>
						</div>
					</div>

					<div class="row form-group">
						<div class="col-xs-3 col-xs-offset-3">
							<%= f.submit "投稿", class: "btn btn-success btn-block" %>
						</div>
					</div>
	    		<% end %>
		</div>
	</div>
