<div class="row">
		<div class="col-xs-3 text-center">
			<h3>人気タグ(5位まで)</h3>
			<table class="table">
				<% @tags.zip(@num) do |tag, num| %>
					<tr>
						<td><%= num %>位</td>
						<td><%= link_to "#{tag.name} (#{tag.taggings_count})", articles_path(tag_name: tag) %></td>
					</tr>
				<% end %>
			</table>
		</div>
		<div class="col-xs-3 text-center">
			<h3>人気投稿(5位まで)</h3>
			<table class="table">
				<% @favorite_ranks.zip(@num) do |article, num| %>
					<tr>
						<td><%= num %>位</td>
						<td><%= link_to article.title, article_path(article) %></td>
					</tr>
				<% end %>
			</table>
		</div>
		<div class="col-xs-3 text-center">
			<h3>投稿が多いチーム</h3>
			<table class="table">
				<% @post_ranks.zip(@num) do |team, num| %>
					<tr>
						<td><%= num %>位</td>
						<td><%= link_to team.name, team_path(team) %></td>
					</tr>
				<% end %>
			</table>
		</div>
	</div>

<%= link_to "新規投稿", new_article_path %>

	<table class="table table-bordered">
		<thead>
			<tr class="success">
				<th>タイトル</th>
				<th>投稿チーム</th>
				<th>投稿日</th>
				<th>タグ</th>
				<th>いいね数</th>
				<th>コメント数</th>
			</tr>
		</thead>
		<tbody>
			<% articles.each do |article| %>
				<tr>
					<td><%= link_to article.title, article_path(article) %></td>
					<td>
						<%= link_to article.team.name, team_path(article.team_id) %>
					</td>
					<td><%= article.created_at.strftime("%Y-%m-%d %H:%M") %></td>
					<td><%= render 'articles/tag_list', tag_list: article.tag_list %>
					</td>
					<td><%= article.favorites.count %></td>
					<td><%= article.comments.count %></td>
				</tr>
			<% end %>
		</tbody>
	</table>