<h1 class="text-center"><%= @article.title %></h1>

<p><%= article.created_at.strftime("%Y-%m-%d %H:%M") %></p>

	<div class="row">
		<div class="article_body">
			<%= @article.body %>
		</div>
	</div>

	

	<div class="row">
		<div class="text-center">
			<%= link_to "投稿編集", edit_article_path(@article), class: "btn btn-success" %>
			<%= link_to "投稿削除", article_path(@article), method: :delete, class: "btn btn-danger", data: {confirm: "本当に削除してもよろしいですか？"} %>
		</div>
	</div>
