<div class="container">
	<div class="col-xs-4 col-xs-offset-4">
		<div class="form-inline">

			<% team_notifications.each do |notification| %>
				<% if notification.visitor.present? %>
					<span>
						<%= link_to notification.visitor.nickname, user_path(notification.visitor) %>さんが
					</span>
				<% end %>

				<% case notification.action %>
					<% when 'team' then %>
						<%= 'チームに参加しました' %>
					<% when 'withdrawal' then %>
						<%= 'チームを脱退しました' %>
					<% when 'follow' then %>
						<%= 'あなたをフォローしました' %>
					<% when 'favorite' then %>
						<%= link_to 'チームの投稿', notification.article, style: "font-weight: bold;" %>
						<%= "にいいねしました" %>
					<% when 'entry' then %>
							<%= link_to 'チームの予定', notification.event, style: "font-weight: bold;" %>
							<%= "に参加しました" %>

						<p class="text-muted mb-0">
							<%= notification.event.start_date.strftime("%Y-%m-%d") %>
							<%= notification.event.title %>
						</p>
					<% when 'comment' then %>
						<% if notification.article.team_id == notification.team_visited.id %>
							<%= link_to "あなたの投稿",notification.article, style: "font-weight: bold;" %>
							<%= 'にコメントしました' %>
						<% else %>
							<span>
								<%= link_to notification.article.team.nickname + 'さんの投稿', article_path(notification.article) %>
								<%= 'にコメントしました' %>
							</span>
						<% end %>
						<p class="text-muted mb-0">
							<%= notification.comment %>
						</p>
					<% when 'article' then %>
						<%= link_to "新しいチーム日記",notification.article, style: "font-weight: bold;" %>
						<%= 'を投稿しました' %>
					<% when 'event' then %>
						<%= link_to '新しい予定', notification.event, style: "font-weight: bold;" %>
						<%= 'を作成しました' %>
						<p class="text-muted mb-0">
							<%= notification.event.start_date.strftime("%Y-%m-%d") %>
							<%= notification.event.title %>
						</p>
					<% when 'approval' then %>
					<!-- チームか予定への参加申請か判定 -->
						<% if notification.event_id.nil? %>
							<%= link_to 'チームへの参加', approvals_team_path(id: notification.team_visited), style: "font-weight: bold;" %>
							<%= "を希望しています" %>
						<% else %>
							<%= link_to '予定への参加', event_path(notification.event_id), style: "font-weight: bold;" %>
							<%= "を希望しています" %>
						<% end %>

				<% end %>
				<div class="small text-muted text-right">
	    			<%= time_ago_in_words(notification.created_at).upcase %><%= '前' %>
	    		</div>
	  			<hr>
	  		<% end %>
		</div>
	</div>
</div>