<div class="container">
	<% if @event.errors.any? %>
	    <div id="error_explanation">
	      <h3><%= pluralize(@event.errors.count, "error") %> prohibited this obj from being saved:</h3>

	      <ul>
	      <% @event.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	      </ul>
	    </div>
	<% end %>
	<h1 class="text-center">予定編集</h1>

	<div class="row">
	  <div class="col-xs-8 col-xs-offset-4">

		<div class="form-horizontal">
			<%= form_with model: @event do |f| %>
				<%= f.hidden_field :team_id, :value => @event.team_id %>

				<div class="form-group">
					<%= f.label :title, "件名", class: "col-xs-2" %>
					<div class="col-xs-5">
						<%= f.text_field :title, class: "form-control" %>
					</div>
				</div>

				<div class="form-group">
					<%= f.label :description, "詳細", class: "col-xs-2" %>
					<div class="col-xs-5">
						<%= f.text_area :description, class: "form-control", style: "height: 300px;"  %>
					</div>
				</div>

				<div class="form-group">
					<%= f.label :start_date, "開始日時", class: "col-xs-2" %>
					<div class="col-xs-6">
						<%= f.datetime_select :start_date, use_month_numbers: true, minute_step: 10, class: "form-control"  %>
					</div>
				</div>

				<div class="form-group">
					<%= f.label :end_date, "終了日時", class: "col-xs-2" %>
					<div class="col-xs-6">
						<%= f.datetime_select :end_date, use_month_numbers: true, minute_step: 10, class: "form-control"  %>
					</div>
				</div>

				<div class="form-group">
					<div class="col-xs-offset-2 col-xs-5">
						<%= f.submit "更新", class: "btn btn-success btn-block" %>
					</div>
				</div>

			<% end %>
		</div>
	  </div>
	</div>
</div>

<div class="text-center">
	<%= link_to "戻る", events_path(team_id: @event.team_id) %>
</div>