<div class="container">
    <h1 class="text-center">チームの予定</h1>
        
            <div class="button-group">
                <% if @team.id == current_user.team_id %>
                    <%= link_to "予定登録", new_event_path(team_id: @team.id), class: "btn btn-primary" %>
                <% end %>
                <%= link_to "チームに戻る", team_path(@team), class: "btn btn-primary" %>
            </div>
       

    <div id="calendar"></div>
    <% if @team.id == current_user.team_id %>
        <%= render 'form_new', event: @event %>
    

         <div id="modalEvent">
            <%= render 'show', events: @events %>
        </div>

    <% end %>


</div>

<script>

// fullcalendar呼び出し
$(document).ready(function() {
$('#calendar').fullCalendar({
    events: '/events?team_id=<%= @team.id %>/.json',
    timeFormat: 'H:mm',
    eventColor: '#63ceef',
    lang: 'ja',
    navLinks: true,
    selectable: true,
    selectHelper: true,
    header: {
        left: "month agendaWeek agendaDay ",
        center: "title"
    },
    dayClick: function(start, end,  jsEvent, view) {
        // クリックした日付を代入
        $('#event_start_date_1i').val(moment(start).year());
        $('#event_start_date_2i').val(moment(start).month()+1);
        $('#event_start_date_3i').val(moment(start).date());
        $('#event_end_date_1i').val(moment(start).year());
        $('#event_end_date_2i').val(moment(start).month()+1);
        $('#event_end_date_3i').val(moment(start).date());
        $('#inputScheduleForm').modal('show');
    },
    eventClick : function(event, jsEvent , view) {
                jsEvent.preventDefault();
                $(`#modalEvent${event.id}`).modal('show');
            },

  });

});

</script>