<div class="container">
	<h1 class="text-center">予定詳細</h1>

		<div class="row">
			<div class="col-xs-offset-4 col-xs-4">
				<table class="table table-bordered">
					<tr>
						<th class="info">件名</th>
						<th><%= @event.title %></th>
					</tr>
					<tr>
						<th class="info">詳細</th>
						<th><%= @event.description %></th>
					</tr>
					<tr>
						<th class="info">参加人数</th>
						<th><%= @event.entries.count %>人</th>
					</tr>
					<tr>
						<th class="info">開始日時</th>
						<th><%= @event.start_date.strftime("%Y-%m-%d %H:%M") %></th>
					</tr>
					<tr>
						<th class="info">終了日時</th>
						<th><%= @event.end_date.strftime("%Y-%m-%d %H:%M") %></th>
					</tr>
				</table>
			</div>
		</div>

		<div class="row">
			<div class="text-center">
				<!-- 参加ボタン -->
				<div id="entry_<%= @event.id %>">
					<%= render 'entry', event: @event %>
				</div>
				<%= link_to "予定編集", edit_event_path(@event), class: "btn btn-success" %>
				<%= link_to "予定削除", event_path(@event), method: :delete, class: "btn btn-danger", data: {confirm: "本当に削除してもよろしいですか？"} %>
			</div>
		</div>

	<h3 class="text-center">参加者一覧</h3>
	<table class="table">
		<thead>
			<tr class="success">
				<th class="col-xs-2"></th>
				<th>性別</th>
				<th>ポジション</th>
			</tr>
		</thead>
		<tbody>
			<% @event.entries.each do |entry| %>
				<tr>
					<td><%= attachment_image_tag(entry.user, :profile_image, fallback: 'sports_soft_tennis_ball.png', size: '50x50') %>
						<%= link_to entry.user.nickname, user_path(entry.user) %></td>
					<td><%= entry.user.sex %></td>
					<td><%= entry.user.position %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<div class="text-center">
		<%= link_to "戻る", events_path(team_id: @event.team_id) %>
	</div>

</div>