<div class="text-center">
  <h1>ログイン</h1>

  <div class="sns-link">
      <h2>SNSでのログインはこちら</h2>
      <%= link_to user_facebook_omniauth_authorize_path do %>
        <%= icon "fab", "facebook" %>
      <% end %>

      <%= link_to user_google_oauth2_omniauth_authorize_path do %>
        <%= icon "fab", "google" %>
      <% end %>
    </div>
</div>

<div class="row">
  <div class="col-xs-8 col-xs-offset-4">

    <div class="form-horizontal">

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.label :nickname, "ニックネーム", class: "col-xs-2" %>
          <div class="col-xs-4">
            <%= f.text_field :nickname, autofocus: true, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :password, "パスワード", class: "col-xs-2" %>
          <div class="col-xs-4">
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
          </div>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="form-group">
          <div class="col-xs-4 col-xs-offset-2">
            <%= f.submit "ログイン", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>