<header class="navbar navbar-fixed-top">
        <nav>
          <ul class="nav navbar-nav navbar-left text-left">
           <li><%= link_to root_path do %>
               <div class="header-logo"></div>
               <% end %>
           </li>
         </ul>
        </nav>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li>
                  <%= link_to user_path(current_user) do %>
                    <span><%= icon 'far', 'address-book'%> マイページ </span>
                  <% end %>
              </li>
              <li>
                  <%= link_to notifications_path(user_id: current_user.id) do %>
                    <% if unchecked_notifications.any? %>
                      <span class="fa-stack">
                        <%= icon "far", "bell", class: "fa-lg fa-stack-2x", style: "1.5em" %>
                        <%= icon "fas", "circle", class: "n-circle fa-stack-1x" %>
                        <%= "通知" %>
                      </span>
                    <% else %>
                      <span>
                        <%= icon "far", "bell", class: "fa-lg", style: "1.5em" %>
                        <%= "通知" %>
                      </span>
                    <% end %>
                  <% end %>
              </li>
              <li>
                  <%= link_to team_search_path do %>
                    <span><%= icon 'fas', 'search-location'%> チーム検索 </span>
                  <% end %>
              </li>
              <li>
                  <%= link_to articles_path do %>
                    <span><%= icon 'fas', 'book'%> チーム日記一覧 </span>
                  <% end %>
              </li>
              <li>
                  <%= link_to destroy_user_session_path, method: :delete do %>
                    <span><%= icon 'fas', 'sign-out-alt' %> ログアウト </span>
                  <% end %>
              </li>
            <% else %>
              <li>
                  <%= link_to team_search_path do %>
                    <span><%= icon 'fas', 'search-location'%> チーム検索 </span>
                  <% end %>
              </li>
              <li>
                  <%= link_to new_user_registration_path do %>
                    <span> <%= icon 'fas', "sign-in-alt" %> 新規登録</span>
                  <% end %>
              </li>
              <li>
                  <%= link_to new_user_session_path do %>
                    <span><%= icon 'fas', 'door-open' %>ログイン</span>
                  <% end %>
              </li>
            <% end %>
          </ul>
        </nav>
    </header>